body {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #f8f5e6;
}
header {
    background: #efe3b3;
    color: #bc8a5f;
    padding: 10px 0;
    display: inline;
    margin: 8px;
}
header .logo {
    float: left;
    margin-left: 20px;
}
nav ul {
    margin: 15px auto 0; 
    padding: 1px; 
    list-style: none; 
    display: table;
    text-align: center;
    font-weight: 700;
}
nav li  {
    display: table-cell; 
    position: relative; 
    padding: 15px;
}
nav li a {
    color: #bc8a5f;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.18em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
nav li a:hover { 
    width: 100%; 
    left: 0; 
    background: #efe3b3;
}
.gallery, .photos, .pictures {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px;
    float: center;
}
.image-container, .images, .pic {
    flex: 1 1 calc(25% - 40px); 
    margin: 20px;
    max-width: 300px; 
    float: center;
}
.image-container img, .images img, .pic img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px#b59975 inset, 
    2em 2em 2em #d2b48c, -2em -2em 2em #f7efca, 
    3em -2em 2em #e5d2ab, -2em 2em 1em #d2b48c;
    float: center;
}
h2 {
    font-weight: 700;
    font-size: 60px;
    color: #d2b48c;
    text-align: center;
}
p1, p {
    font-weight: 700;
    font-size: 20px;
    color: #d2b48c;
    display: inline;
    padding: 15px 20px;
    text-align: center;
    letter-spacing: 0.18em;
    margin: 8px;
}
.contact {
    text-align: center;
}
footer {
    color: #fff;
    padding: 20px;
    font-size: 1em;
    text-align: center;
    background-color: #efe3b3;
}
@media (max-width: 900px) {
    .image-container, .images, .pic {
        flex: 1 1 calc(50% - 40px); 
    }
}
@media (max-width: 600px) {
    .image-container, .images, .pic {
        flex: 1 1 calc(50% - 40px); 
    }
}
